@model IEnumerable<projektAspNet.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservations</h1>
<style>
    .tabele {
        width: 100%;
        font-family: sans-serif;
        background: linear-gradient(45deg, #1D735A, #01402E);
        padding: 40px 20px;
        color: #fff;
    }
   

        .tabele table {
            width: 80%;
            border-collapse: separate;
            margin: 0 auto;
        }

        .tabele caption {
            font-size: 1.2em;
            padding-bottom: 20px;
        }

        .tabele tr {
            background: #000;
            background: rgba(255,255,255,.3);
            border-bottom: solid 1px #fff;
            width: 60%;
        }

        .tabele tbody tr {
            background: rgba(255,255,255,.1);
            width: 60%;
        }

            .tabele tbody tr:hover {
                background: rgba(255,0,0,.1);
            }

        .tabele td {
            padding: 8px 4px;
            text-align: center;
        }
        .tabele thead tr th {
            text-align: center;
        }
</style>
<p>
    <a asp-action="Create">Create New</a>
</p>
<center>

<div class="tabele">
        
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RouteID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfKayaking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KayakType)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.NumberOfKayaks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RouteID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfKayaking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KayakType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfKayaks)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</center>