@model IEnumerable<projektAspNet.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<style>
    .tabele {
        width: 100%;
        font-family: sans-serif;
        background: linear-gradient(45deg, #1D735A, #01402E);
        padding: 40px 20px;
        color: #fff;
    }


        .tabele table {
            width: 80%;
            border-collapse: separate;
            margin: 0 auto;
        }

        .tabele caption {
            font-size: 1.2em;
            padding-bottom: 20px;
        }

        .tabele tr {
            background: #000;
            background: rgba(255,255,255,.3);
            border-bottom: solid 1px #fff;
            width: 60%;
        }

        .tabele tbody tr {
            background: rgba(255,255,255,.1);
            width: 60%;
        }

            .tabele tbody tr:hover {
                background: rgba(255,0,0,.1);
            }

        .tabele td {
            padding: 8px 4px;
            text-align: center;
        }

        .tabele thead tr th {
            text-align: center;
        }
</style>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="tabele">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pesel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pesel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIP)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>